<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel="icon" href="../images/nodejs-icon.svg">
</head>

<body>
    <div>POST</div>
    <form action="/post" method="post">
        <input type="text" name="id" placeholder="Enter id here">
        <input type="text" name="name" placeholder="Enter age here">
        <input type="submit" value="Submit">
    </form>
</body>

</html>