<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel="icon" href="../images/nodejs-icon.svg">
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="../images/nodejs.png"/>
    <p><%= content %></p>
  </body>
</html>
