</html>
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="../images/nodejs-icon.svg">
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
    <h2>
        <%= method %> Reulst Page
    </h2>
    <p>id: <%= id %>
    </p>
    <p>name: <%= name %>
    </p>
</body>

</html>